<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/main.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/modal.css' %} ">
    <title>Deploy Django Project</title>
</head>
<body>

    <div class='container'>
        <div class='row'>
            <div class="col-8 mx-auto mt-5">
                <h1 class="mb-5">Posts</h1>
                {% for post in posts %}
                <table width='100%'>
                    <tr>
                        <td>
                            <h2 class="mb-5">{{post.title}}</h2><h5> {{post.created|date:'Y-m-d H:i'}}</h5>
                        </td>
                        <td class="td-to-right">
                            <!-- myImg class is used for JS to detect base images. -->
                            {% endcomment %}
                            <img src=" {{post.img.url}} " class="img-thumbnail myImg" alt="">
                        </td>
                    </tr>
                </table>
                <div class="description">
                    {{ post.text|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <!-- This div is used to be injectted with image when 
        s.c. 'popup' status (i.e. mouse is moved over the 'medallion') is reached.
        modal.css makes this div invisible. But modal.js injects an image to this div and make it visible.
        The div is hided by JS when appr. events are occured.
        See static/js/modal.js
    -->
    <div id="myModal" class="modal">
        <span class="close">To return to Posts hover above this text or click left or press ESC &times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
  
</body>
<script src= "{% static 'js/modal.js' %}" ></script>
</html>
